.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

image,
embed,
video,
object {
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

input:disabled {
  background: #EEEEEE;
}

thead {
  background: darkslategray;
}

th {
  color: white !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

textarea:disabled {
  background: #EEEEEE;
}

/* input[type="number"]:disabled {
  background: #dddddd;
} */

textarea {
  /* height: 2rem;
  margin: 1rem; */
  height: auto !important;
  padding: 12px 0px 16px 10px !important;
}

.routeWrapper {
  display: flex;
  flex-grow: 1;
  /* position: relative; */
}

.routeWrapper>div {
  display: flex;
  flex-grow: 1;
  /* position: absolute; */
}

.fadeEnter {
  display: flex;
  flex-grow: 1;
  opacity: 0;
  z-index: 1;
}

.fadeEnterActive {
  display: flex;
  flex-grow: 1;
  opacity: 1;
  transition: opacity 300ms ease-in;
}